<div class="">
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
        QRIFI
      </a>
    </div>
  </nav>
  <div class="container  py-4">

    <div class="row mt-4">
      <div class="col-md-6 mx-auto">
        <h3 class="display-4 text-primary">
          WiFi QR Code Generator
        </h3>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 96 960 960" width="30">
              <path
                d="M754 1056q-17 0-28.5-11.5T714 1016V898q0-17 11.5-28.5T754 858h1v-39q0-35 23.5-58.5T837 737q35 0 58.5 23.5T919 819v39h1q17 0 28.5 11.5T960 898v118q0 17-11.5 28.5T920 1056H754Zm41-198h84v-39q0-19-11.5-30.5T837 777q-19 0-30.5 11.5T795 819v39ZM232 699l-63-63q70-70 146.5-105T480 496q88 0 164.5 35T791 636l-63 63q-61-61-123-87t-125-26q-63 0-125 26t-123 87ZM63 530 0 467q93-95 216.5-153T480 256q140 0 263.5 58T960 467l-63 63q-88-84-192.5-134T480 346q-120 0-224.5 50T63 530Zm417 417 148-149q-29-29-66.5-45.5T480 736q-44 0-81.5 16.5T332 798l148 149Z" />
            </svg>
          </span>
          <div class="form-floating">
            <input required name="ssidInput" #ssidInput="ngModel" [(ngModel)]="ssid" type="text" class="form-control"
              placeholder="Username">
            <label>Network Name (SSID)</label>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text">
            <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 96 960 960" width="30">
              <path
                d="M280 816q-100 0-170-70T40 576q0-100 70-170t170-70q78 0 131.5 37.5T491 473h429v206H814v137H628V679H491q-26 62-79.5 99.5T280 816Zm0-60q71 0 116.5-47t53.5-90h242v137h62V619h106v-86H450q-8-43-53.5-90T280 396q-75 0-127.5 52.5T100 576q0 75 52.5 127.5T280 756Zm0-112q29 0 48.5-19.5T348 576q0-29-19.5-48.5T280 508q-29 0-48.5 19.5T212 576q0 29 19.5 48.5T280 644Zm0-68Z" />
            </svg>
          </span>
          <div class="form-floating">
            <input name="passwordInput" #passwordInput="ngModel" [(ngModel)]="password" type="text" class="form-control"
              placeholder="Username">
            <label>WiFi password</label>
          </div>
        </div>

        <div class="form-floating mb-3">
          <select name="networkTupeInput" #networkTupeInput="ngModel" [(ngModel)]="networkType" class="form-select">
            <option *ngFor="let item of netWorkTypeArray" [ngValue]="item.value">{{item.name}}</option>

          </select>
          <label for="floatingSelect">Authentication type</label>
        </div>

        <div class="form-check form-switch">
          <input [(ngModel)]="hidden" class="form-check-input" type="checkbox" role="switch"
            id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Is wifi an hidden network?</label>
        </div>
        <!--
            [disabled]="(ssidInput.invalid && (ssidInput.dirty || ssidInput.touched) && ((passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)) || (networkTupeInput.value != 'nopass' )))"
           -->
        <button (click)="onGenereateQR()" class="mt-2 btn btn-primary">
          Generate QR Code
        </button>
        <span *ngIf="errorMessage">
          {{errorMessage}}
        </span>

        <div *ngIf="qrLoading == false && qrCode != ''">

          <qrcode #qrCodeComponent [elementType]="elementType" [qrdata]="qrCode" [width]="256"
            (qrCodeURL)="onChangeURL($event)" [errorCorrectionLevel]="'M'"></qrcode>
          <button class="btn btn-primary" (click)="saveAsImage(qrCodeComponent)">Download</button>
        </div>

        <div class="container mt-5">
          <h3>
            About
          </h3>
          <h4>
            The App
          </h4>
          <p align="justify">
            This is a simple application built with Angular, Bootstrap and angularx-qrcode. It allows you to encode your
            WiFi access point password into a QR code. Simply enter your WiFi network name and password, and the
            application will generate
            a QR code that can be scanned by a mobile device to quickly connect to your WiFi network.
          </p>


          <h4>
            Scanning the QR code(Usage)
          </h4>
          <h5>iOS</h5>
          <p align="justify">
            The iOS Camera App has
            <a href="https://www.macrumors.com/2017/06/06/iphone-can-scan-qr-codes-ios-11/">support for WiFi QR codes
              since iOS 11</a>
          </p>
          <p align="justify">
            On iOS, simply open the camera app and scan the QR code to bring up a notification which allows you to
            connect
            to the WiFi network:
          </p>

          <h5>Android</h5>

          <p align="justify">
            The Android Camera App has support for WiFi QR codes since Android 10.
          </p>

          <p align="justify">
            On Android, go into the WiFi settings and tap on the WiFi network you want to join:
          </p>
          <p>
            then click the QR icon in the password field and scan the code:
          </p>

          <h4>The Author</h4>
          <div class="card contact-card bg-primary text-white">
            <!-- https://drive.google.com/file/d/1iRgR_LNv1B9c1wxfv7BopLXwUm2g8Jo4/view?usp=share_link -->
            <div class="card-body">
              <h2>
                <img class="img-fluid profile-pic rounded-circle me-2"
                  src="https://drive.google.com/uc?export=view&id=1iRgR_LNv1B9c1wxfv7BopLXwUm2g8Jo4"
                  alt="Profile picture">
                Oluwaseun Adesina
              </h2>
              <h3>Frontend Angular Developer</h3>
              <div class="row">
                <div class="col-md">
                  <p class="mb-0">
                    <a class="text-white" href="mailto:reachouttoseun@gmail.com">Email: reachouttoseun@gmail.com</a>
                  </p>
                </div>
                <div class="col-md">
                  <p class="mb-0">
                    <a class="text-white" href="tel:+2347089306018">Phone: +234(0)708 930 6018.</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>

  <div class="modal-body">
    <p class="text-center display-4">
      🎉
    </p>
    <div class="text-center">
      <h3>
        QR Generated!
      </h3>
      <p>
        Thanks for using readme.so! Feel free to reach out to me on
        <a href=""></a>
        with any feedback.
      </p>

      <p>
        If you found this product helpful, consider supporting me!
      </p>

      <div class="btn-group btn-group-lg">
        <a href="https://sandbox-flw-web-v3.herokuapp.com/pay/hdddjffysxd9" class="btn btn-outline-primary" aria-current="page">Buy me a coffee</a>
        <a href="https://sandbox-flw-web-v3.herokuapp.com/pay/hdddjffysxd9" class="btn btn-primary text-white">

          <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 96 960 960" width="30">
            <path
              d="m480 935-41-37q-105.768-97.121-174.884-167.561Q195 660 154 604.5T96.5 504Q80 459 80 413q0-90.155 60.5-150.577Q201 202 290 202q57 0 105.5 27t84.5 78q42-54 89-79.5T670 202q89 0 149.5 60.423Q880 322.845 880 413q0 46-16.5 91T806 604.5Q765 660 695.884 730.439 626.768 800.879 521 898l-41 37Zm0-79q101.236-92.995 166.618-159.498Q712 630 750.5 580t54-89.135q15.5-39.136 15.5-77.72Q820 347 778 304.5T670.225 262q-51.524 0-95.375 31.5Q531 325 504 382h-49q-26-56-69.85-88-43.851-32-95.375-32Q224 262 182 304.5t-42 108.816Q140 452 155.5 491.5t54 90Q248 632 314 698t166 158Zm0-297Z" />
          </svg>
          <small class="ms-2">
            552
          </small>
        </a>
      </div>
    </div>
  </div>

</ng-template>
